/*Global*/
html{
  font-size: 62.5%; /*Reset para REMS - 62.5% =10px de 16px*/
}
body{
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.contenedor{
  max-width: 120rem;/*=1200px*/
  margin:0 auto;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.6rem;
}
img{
  max-width: 100%;
}
/* Utilidades */
.seccion{
  margin-top:2rem;
  margin-bottom:2rem;
}
.fnt_weight300, .tlt_sobreNosotros{
  font-weight: 300;
}
.txt_center{
  text-align: center;
}
/*Botones*/
.boton{
  text-decoration: none;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding:1rem 3rem;
}
.btn_anaranjado{
  background-color:#E08709;
}
.btn_verde{
  background-color: #71b100;
}

/*Header*/
.site-header.barra-menu{
  background-image:url("../img/header.jpg");
  height: 100vh;
  min-height: 60rem;
  background-position: center, center;
  background-size: cover;
}
.contenido-header{/*Este es para todo el elemento y se ordene tanto el menu como el texto*/
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.contenido-header h1{
  color:#fff;
  padding-bottom:2rem;
  max-width: 60rem;
  line-height: 1.8;
}
.barra-principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:3rem;
}

/*Navegacion*/
.nav-principal a{
  color:#fff;
  text-decoration: none;
  font-size: 1.8rem;/*=18px*/
  margin-right:2rem;
}
.nav-principal a:last-of-type{
  margin-right:0;
}
.nav-principal a:hover{
  color:#71B100;
}

/* Sobre Nosotros */
.cnt_nosotros{
  display: flex;
  justify-content: space-between;
}
.col_nosotros{
  flex-basis: calc(33.3% - 2rem);
}
.col_nosotros h3{
  text-transform: uppercase;
}
/*Casas y Deptos*/
.cnt_casasDeptos{
  display: flex;
  justify-content: space-between;
}
.col_casasDeptos{
  flex-basis: calc(33.3% - 1rem);
  border: 0.1rem solid #b5b5b5;
  background-color: #f5f5f5;
}
.col_inner_casasDeptos{
  padding:2rem;
}
.col_inner_casasDeptos h3, .col_inner_casasDeptos p{
  margin:0px;
}
.precio{
  color:#71b100;
  font-weight: 700;
}
